<script>
    function site_search() {
    var query = document.getElementById("site-search").value;
    window.open("{{ '/search/index.html' | relative_url }}?q=" + encodeURIComponent(query), "_self" );
  }
</script>
<div class="container-fluid" style="background-color: hsla(0,0%,100%,.95);">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
            <div class="pt-4">
                <a href="https://www.iastate.edu/">
                    <img src="https://www.lib.iastate.edu/themes/custom/iastate2022/img/iowa-state-university-logo-no-tagline-red.svg" alt="Iowa State University">
                </a>
                <p>
                    <a href="https://www.lib.iastate.edu/" style="color: #c8102e; font-size: 1rem; line-height: 1.4375; font-weight: 700; margin-top: 0.375rem; pointer-events: all;" aria-label="Iowa State University Library website">University Library</a>
                </p>
            </div>
        </div>
        <div class="col-md-4 d-none d-lg-block">
          <!--<div class="d-flex justify-content-end">
            <form class="form-inline py-2 my-lg-0 d-flex" role="search" id="search" onsubmit="site_search(); return false;">
              <div id="dsi-searchbox" class="input-group hidden border rounded">
                <input id="site-search" class="form-control" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-light" type="submit">
                  <span id="search-icon" aria-hidden="true">
                    <svg viewBox="0 0 1024 974" height="16px" width="20px">
                      <path d="M960 832L710.875 582.875C746.438 524.812 768 457.156 768 384 768 171.96900000000005 596 0 384 0 171.969 0 0 171.96900000000005 0 384c0 212 171.969 384 384 384 73.156 0 140.812-21.562 198.875-57L832 960c17.5 17.5 46.5 17.375 64 0l64-64C977.5 878.5 977.5 849.5 960 832zM384 640c-141.375 0-256-114.625-256-256s114.625-256 256-256 256 114.625 256 256S525.375 640 384 640z"/>
                    </svg>
                  </span>
                  <span class="visually-hidden">Submit search</span>
                </button>
                <button class="btn btn-light">
                  <span id="x" aria-hidden="true"><svg viewBox="0 0 16 16" height="20px" width="20px" fill="#7c2529"><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/></svg></span>
                </button>
              </div>
              <a type="button" id="dsi-toggle-search" aria-expanded="false" aria-controls="dsi-searchbox">
                <span id="span-search-icon" aria-hidden="true">
                  <svg viewBox="0 0 1024 974" height="16px" width="20px" fill="#7c2529">
                    <path d="M960 832L710.875 582.875C746.438 524.812 768 457.156 768 384 768 171.96900000000005 596 0 384 0 171.969 0 0 171.96900000000005 0 384c0 212 171.969 384 384 384 73.156 0 140.812-21.562 198.875-57L832 960c17.5 17.5 46.5 17.375 64 0l64-64C977.5 878.5 977.5 849.5 960 832zM384 640c-141.375 0-256-114.625-256-256s114.625-256 256-256 256 114.625 256 256S525.375 640 384 640z"/>
                  </svg>
                </span>
                <span class="visually-hidden">Toggle search box</span>
              </a>
            </form>
          </div>-->
        </div>
      </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #f5f5f5;">
  <div class="container">
    <a class="navbar-brand dsi-site-title" href="{{ '/' |relative_url }}">Digital Scholarship and Initiatives</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#dsiNavbar" aria-controls="dsiNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="dsiNavbar">
      <ul class="navbar-nav ms-auto">
        {%- assign navItems = site.data.config-nav | where_exp: 'item', 'item.display_name and item.dropdown_parent == nil' -%} 
        {% for nav in navItems %}
        {% if nav.stub %}
        <li class="nav-item">
            <a class="nav-link{% if page.url == nav.stub %} active{% endif %}" href="{{ nav.stub | relative_url }}">{{ nav.display_name }}</a>
        </li>
        {%- else -%}
        <li class="nav-item dropdown">
            {% assign navChildren = site.data.config-nav | where_exp: 'item', 'item.dropdown_parent == nav.display_name' %}
            {%- assign childStubs = navChildren | map: 'stub' -%}
            <a class="nav-link  dropdown-toggle{% if childStubs contains page.url %} active{% endif %}" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{ nav.display_name }}</a>
            <div class="dropdown-menu">
                {% for c in navChildren %}
                <a class="dropdown-item {% if page.url == c.stub %}active{% endif %}" href="{{ c.stub | relative_url }}">{{ c.display_name }}</a>
                {% endfor %}
            </div>
        </li>
        {% endif %}
        {%- endfor -%}
      </ul>
      <div class="d-block d-sm-none me-auto">
        <form class="form-inline py-2 my-lg-0 d-flex">
          <input class="form-control" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-light" type="submit">
            <span id="mobile-search-icon"><svg viewBox="0 0 1024 974" height="16px" width="20px" fill="#7c2529"><path d="M960 832L710.875 582.875C746.438 524.812 768 457.156 768 384 768 171.96900000000005 596 0 384 0 171.969 0 0 171.96900000000005 0 384c0 212 171.969 384 384 384 73.156 0 140.812-21.562 198.875-57L832 960c17.5 17.5 46.5 17.375 64 0l64-64C977.5 878.5 977.5 849.5 960 832zM384 640c-141.375 0-256-114.625-256-256s114.625-256 256-256 256 114.625 256 256S525.375 640 384 640z"/></svg></span>
            <span class="visually-hidden">Search</span>
          </button>
        </form>
      </div>
    </div>
  </div>
</nav>

<!--<script>
  let toggleButton = document.querySelector("#dsi-toggle-search");
  let searchBox = document.querySelector("#dsi-searchbox");
  let removeSearch = document.querySelector("#x");
  function toggleSearch() {
    searchBox.classList.toggle("hidden");
    searchBox.classList.toggle("d-flex");
    toggleButton.classList.toggle("hidden");
  }
  toggleButton.addEventListener("click", toggleSearch);
  removeSearch.addEventListener("click", toggleSearch);
</script>-->