:root {
    --iastate-red: #c8102e;
    --iastate-gold: #f1be48;
    --iastate-dark-khaki: #524727;
    --iastate-khaki: #9b945f;
    --iastate-light-khaki: #cac7a7;
    --iastate-dark-green: #3e4827;
    --iastate-green: #76881d;
    --iastate-light-green: #a2a569;
    --iastate-dark-blue: #003d4c;
    --iastate-blue: #006ba6;
    --iastate-light-blue: #7a99ac;
    --iastate-maroon: #7c2529;
    --: #7c2529;
    --iastate-dark-orange: #9a3324;
    --iastate-orange: #be531c;
    --iastate-brown: #8b5b29;
    --iastate-tan: #b9975b;
    --iastate-light-gold: #eed484;
    --iastate-dark-warm-grey: #6e6259;
    --iastate-grey: #707372;
    --iastate-light-warm-grey: #aca39a;
    --athletics-dark-red: #822433;
    --athletics-red: #a71930;
    --athletics-gold: #fdc82f;
    --athletics-light-gold: #fada63;
    --black: #000000;
    --white: #ffffff;
    --red: #c8102e;
    --gold: #f1be48;
    --dark-khaki: #524727;
    --khaki: #9b945f;
    --light-khaki: #cac7a7;
    --dark-green: #3e4827;
    --green: #76881d;
    --light-green: #a2a569;
    --dark-blue: #003d4c;
    --blue: #006ba6;
    --light-blue: #7a99ac;
    --maroon: #7c2529;
    --dark-red: #7c2529;
    --dark-orange: #9a3324;
    --orange: #be531c;
    --brown: #8b5b29;
    --tan: #b9975b;
    --light-gold: #eed484;
    --dark-warm-grey: #6e6259;
    --grey: #707372;
    --light-warm-grey: #aca39a;
    --extra-light-blue: #9ac4dc;
    --light-grey: #f3f3f3;
    --grey: #808080;
    --grey-c: #cccccc;
    --grey-9: #999999;
    --grey-6: #666666;
    --grey-3: #333333;
}

., .text-, .text- :is(h1, h2, h3, h4, h5, h6), .link- a, .link-hover- a:focus, .link-hover- a:hover, a.link-, a.link-hover-:focus, a.link-hover-:hover {
    color: #7c2529 !important;
}

.bg-, .bg-hover-:focus, .bg-hover-:hover {
    background-color: #7c2529 !important;
}

.bg--75 {
    background-color: rgba(124, 37, 41, 0.75) !important;
}

.bg--50 {
    background-color: rgba(124, 37, 41, 0.5) !important;
}

.bg--25 {
    background-color: rgba(124, 37, 41, 0.25) !important;
}

.fill- {
    fill: #7c2529 !important;
}

.fill--75 {
    fill: rgba(124, 37, 41, 0.75) !important;
}

.fill--50 {
    fill: rgba(124, 37, 41, 0.5) !important;
}

.fill--25 {
    fill: rgba(124, 37, 41, 0.25) !important;
}

.border- {
    border-color: #7c2529 !important;
}

.border--75 {
    border-color: rgba(124, 37, 41, 0.75) !important;
}

.border--50 {
    border-color: rgba(124, 37, 41, 0.5) !important;
}

.border--25 {
    border-color: rgba(124, 37, 41, 0.25) !important;
}

.stroke- {
    stroke: #7c2529 !important;
}

.stroke--75 {
    stroke: rgba(124, 37, 41, 0.75) !important;
}

.stroke--50 {
    stroke: rgba(124, 37, 41, 0.5) !important;
}

.stroke--25 {
    stroke: rgba(124, 37, 41, 0.25) !important;
}

.shadow- {
    --c: drop-shadow(10px 10px #7c2529);
    -webkit-filter: var(--c);
    filter: var(--c);
}

.black, .color-black, .color-black :is(h1, h2, h3, h4, h5, h6), .text-black, .text-black :is(h1, h2, h3, h4, h5, h6), .link-black a, .link-hover-black a:focus, .link-hover-black a:hover, a.link-black, a.link-hover-black:focus, a.link-hover-black:hover {
    color: #000000 !important;
}

.bg-black, .bg-hover-black:focus, .bg-hover-black:hover {
    background-color: #000000 !important;
}

.bg-black-75 {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.bg-black-50 {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.bg-black-25 {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

.border-black {
    border-color: #000000 !important;
}

.border-black-75 {
    border-color: rgba(0, 0, 0, 0.75) !important;
}

.border-black-50 {
    border-color: rgba(0, 0, 0, 0.5) !important;
}

.border-black-25 {
    border-color: rgba(0, 0, 0, 0.25) !important;
}

.white, .color-white, .color-white :is(h1, h2, h3, h4, h5, h6), .text-white, .text-white :is(h1, h2, h3, h4, h5, h6), .link-white a, .link-hover-white a:focus, .link-hover-white a:hover, a.link-white, a.link-hover-white:focus, a.link-hover-white:hover {
    color: #ffffff !important;
}

.bg-white, .bg-hover-white:focus, .bg-hover-white:hover {
    background-color: #ffffff !important;
}

.bg-white-75 {
    background-color: rgba(255, 255, 255, 0.75) !important;
}

.bg-white-50 {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.bg-white-25 {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

.border-white {
    border-color: #ffffff !important;
}

.border-white-75 {
    border-color: rgba(255, 255, 255, 0.75) !important;
}

.border-white-50 {
    border-color: rgba(255, 255, 255, 0.5) !important;
}

.border-white-25 {
    border-color: rgba(255, 255, 255, 0.25) !important;
}

.transparent, .text-transparent {
    color: rgba(0, 0, 0, 0) !important;
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 0) !important;
}

.trans, .text-trans {
    color: rgba(0, 0, 0, 0) !important;
}

.bg-trans {
    background-color: rgba(0, 0, 0, 0) !important;
}

.red, .color-red, .color-red :is(h1, h2, h3, h4, h5, h6), .text-red {
    color: #c8102e !important;
}

.gold, .color-gold, .color-gold :is(h1, h2, h3, h4, h5, h6), .text-gold {
    color: #f1be48 !important;
}

.green, .color-green, .color-green :is(h1, h2, h3, h4, h5, h6), .text-green {
    color: #76881d !important;
}

.blue, .color-blue, .color-blue :is(h1, h2, h3, h4, h5, h6), .text-blue {
    color: #006ba6 !important;
}

.orange, .color-orange, .color-orange :is(h1, h2, h3, h4, h5, h6), .text-orange {
    color: #be531c !important;
}

.tan, .color-tan, .color-tan :is(h1, h2, h3, h4, h5, h6), .text-tan {
    color: #b9975b !important;
}

.home.toolbar-vertical main, .home.toolbar-horizontal main, .admission-and-aid.toolbar-vertical main, .admission-and-aid.toolbar-horizontal main, .college.toolbar-vertical main, .college.toolbar-horizontal main {
    padding-top: 54px !important;
}

.max-bound .outer-pad .itswd-section.itswd-section-full-width .itswd-section-content.itswd-section-content-constrained {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

.max-bound .outer-pad .itswd-section.itswd-section-full-width .itswd-section-content.itswd-section-content-full-width {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
}

@media (min-width:768px) {
    .max-bound .outer-pad .itswd-section.itswd-section-full-width {
        margin-left: -4.375rem;
        margin-right: -4.375rem;
    }

    .max-bound .outer-pad .itswd-section.itswd-section-full-width .itswd-section-content.itswd-section-content-constrained {
        padding-left: 4.375rem;
        padding-right: 4.375rem;
    }
}

@media (min-width:1200px) {
    .max-bound .outer-pad .itswd-section.itswd-section-full-width {
        margin-left: -11.875rem;
        margin-right: -18.625rem;
    }

    .max-bound .outer-pad .itswd-section.itswd-section-full-width .itswd-section-content.itswd-section-content-constrained {
        padding-left: 11.875rem;
        padding-right: 18.625rem;
    }
}

@media (min-width:100rem) {
    .max-bound .outer-pad .itswd-section.itswd-section-full-width {
        margin-left: calc(-11.875rem - ((100vw - 100rem) / 2));
        margin-right: calc(-18.625rem - ((100vw - 100rem) / 2));
    }

    .max-bound .outer-pad .itswd-section.itswd-section-full-width .itswd-section-content.itswd-section-content-constrained {
        padding-left: calc(11.875rem + ((100vw - 100rem) / 2));
        padding-right: calc(18.625rem + ((100vw - 100rem) / 2));
    }
}

.toolbar .toolbar-bar {
    color: #fff;
    background-color: #003555;
}

.toolbar .toolbar-menu, .toolbar .toolbar-tray, .toolbar .toolbar-tray a, .toolbar button.toolbar-icon, .toolbar .toolbar-toggle-orientation {
    color: #fff;
    background-color: #00598e;
}

.toolbar .toolbar-icon:before {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}

.toolbar-tray a, .toolbar .toolbar-menu .toolbar-menu a, .toolbar-tray a:hover, .toolbar-tray a:active, .toolbar-tray a:focus, .toolbar-tray a.is-active, .toolbar .toolbar-tray a.is-active, .toolbar .toolbar-tray .menu-item--active-trail>.toolbar-box a {
    color: #fff;
}

.toolbar-horizontal .toolbar-tray .menu-item:last-child {
    border-right: 1px solid #004772;
}

.toolbar-horizontal .toolbar-tray .menu-item+.menu-item {
    border-left: 1px solid #004772;
}

.toolbar-horizontal .toolbar-tray .toolbar-toggle-orientation {
    background-color: #00598E;
    border-left: 1px solid #004772;
}