h1 {
    font-size: 3.5rem;
    line-height: 1.125;
}

#feedback .iastate22-button {
    background-color: #fff;
}

#feedback .iastate22-button:hover {
    background-color: #7c2529;
}

.site-header__main li {
    list-style-type: none !important;
}

.site-header__main a {
    text-decoration: none;
}

.site-footer li {
    list-style-type: none !important;
}