/* styles.css */

/* Card styles */
.about-us-card {
    width: 30rem;
    background-color: #EED484;
    transition: background-color 0.3s ease;
  }
  
  /* Button spacing */
  .btn-spacing {
    margin-bottom: 10px;
  }
  
  /* Highlight bar for the "About us" section */
  .highlight-bar {
    border: none;
    height: 4px;
    background-color: #f1be48;
    width: 100px;
    margin: 7px 0;
  }
  
  /* Container for the content */
  .content-container {
    width: 100%;
    max-width: 60rem;
    margin: 0 auto;
  }
  
  /* Card container styles */
  .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Creates two equal-width columns */
    gap: 2rem; /* Space between grid items */
    justify-content: center; /* Centers the grid container */
    max-width: 800px; /* Set a max-width to control the container width */
    margin: 0 auto; /* Center the container horizontally */
}
  
  /* Centering the featured projects */
  .featured-projects-container {
    display: flex;
    justify-content: center;
  }
  
  .featured-projects-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }