---
title: Projects
nav: Projects
permalink: /projects/
layout: page
nav_order: 2
foot: js/browse-all.html
---

{% assign current_projects = site.data.dsi-research-projects | where_exp: 'p', 'p.status == "in-progress"' %}

<p>Digital Scholarship and Initiatives conducts research and provides project support and collaboration with students, faculty, and staff from across campus. Check out some of our work below.</p>

<div class="row">
    <h2 class="pb-0">Current Projects</h2>
    {% if current_projects.size > 4 %}
    {% assign random_projects = projects | sample: 4 %}
    {% else %}
    {% assign random_projects = current_projects %}
    {% endif %}
    {% for p in random_projects %}
    <div class="col-md-3">
        <div class="card mb-3 border-info">
            <div class="card-body">
                <h3 class="card-title mt-0"><a href="{{ p.link | relative_url }}" target="_blank" rel="noopener">{{ p.title }}</a></h3>
                <img src="{{ p.image }}" class="img-fluid list-img" alt="{{ p.image_alt }}">
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div id="documentList">
{% assign listProjects = site.data.dsi-research-projects | where_exp: 'i','i.ignore != true' %}
    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <h2 class="pb-0">Browse All Projects</h2>
        </div>
        <div class="col-md-9 text-center">
            <p><strong>Type:</strong>
                <input type="radio" class="btn-check" name="filterRadioType" id="filter-all" autocomplete="off" value="show-all" checked>
                <label class="btn btn-outline-primary m-1" for="filter-all" onclick="filterProjects('all', 'type', this)">All</label>
                {% assign types = listProjects | map: 'type' | compact | uniq | sort %}
                {% for t in types %}
                <input type="radio" class="btn-check" name="filterRadioType" id="filter-{{ t | slugify }}" autocomplete="off" value="{{ t }}">
                <label class="btn btn-outline-primary m-1" for="filter-{{ t | slugify }}" onclick="filterProjects('{{ t }}', 'type', this)">{{ t }}</label>
                {% endfor %}
            </p>
            <p><strong>Status:</strong>
                <input type="radio" class="btn-check" name="filterRadioStatus" id="filter-all-status" autocomplete="off" value="show-all" checked>
                <label class="btn btn-outline-secondary m-1" for="filter-all-status" onclick="filterProjects('all', 'status', this)">All</label>
                {% assign raw_genres = listProjects | map: 'status' | compact | join: ";" | split: ";" %}
                {% capture genres %}{% for r in raw_genres %}{{ r | strip }};{% endfor %}{% endcapture %}
                {% assign genres = genres | split: ";" | uniq | sort %}
                {% for g in genres %}
                <input type="radio" class="btn-check" name="filterRadioStatus" id="filter-genre-{{ g | slugify }}" autocomplete="off" value="{{ g }}">
                <label class="btn btn-outline-secondary m-1" for="filter-genre-{{ g | slugify }}" onclick="filterProjects('{{ g }}', 'status', this)">{{ g }}</label>
                {% endfor %}
            </p>
            <div class="input-group mb-3">
                <input type="text" id="listSearch" class="form-control form-control-lg search" aria-label="Text input to filter list" placeholder="Filter...">
                <button class="btn btn-lg btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="collapse" data-bs-target="#collapseListOptions" aria-expanded="false" aria-controls="collapseListOptions">options</button>
                <div class="collapse w-100" id="collapseListOptions">
                    <div class="card card-body text-start">
                        <p><strong>Sort by:</strong> </p>
                        <p>
                            <input type="radio" class="btn-check" name="sort_list" id="list_shuffle" autocomplete="off" checked>
                            <label class="btn btn-outline-primary m-1" for="list_shuffle">Random</label>
                            <input type="radio" class="btn-check sort" name="sort_list" id="list_title" autocomplete="off" data-sort="listTitle">
                            <label class="btn btn-outline-primary m-1" for="list_title">Title</label>
                            <input type="radio" class="btn-check sort" name="sort_list" id="list_type" autocomplete="off" data-sort="listType">
                            <label class="btn btn-outline-primary m-1" for="list_type">Type</label>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mt-5 list row row-cols-1 row-cols-md-2"></div>
</div>