---
layout: page
---

{% assign people = site.data.dsi-people %}

{% for p in people %}

<div class="row pt-4 pb-5 align-items-center">
    <div class="col-md-4 text-center">
        <img class="img-fluid rounded-circle lazyload w-50" alt="image of {{ p.name }}" src="{{ p.image }}">
    </div>
    <div class="col-md-8">
        <p><strong>{{ p.name }}</strong>, {{ p.title }}<br>    
        <br>
        <a href="mailto:{{ p.email }}">{{ p.email }}</a>
        {% if p.phone %}{{ p.phone }}{% endif %}
        <br>
        {% if p.blog-page %}<a href="{{ p.name | slugify | append: '.html' | prepend: 'pages/' | relative_url }}">Blog</a>{% endif %}
        </p>
    </div>
</div>

{% endfor %}

{{ content }}