---
layout: page
---

{% assign people = site.data.dsi-people %}

<div class="row">
    {% for p in people %}
    <div class="col-md-3">
      <div class="card my-4">
        <img src="{{ p.image }}" class="card-img-top" alt="image of {{ p.name }}">
        <div class="card-body">
          <h5 class="card-title">{{ p.name }}</h5>
          <p class="card-text">{{ p.title }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ p.email }}</small>
        </div>
      </div>
    </div>
    {% endfor %}
</div>

{{ content }}