---
layout: page
---

{% assign image = page.image %}
{% assign alt = page.alt %}

<div class="row pt-3">
    <div class="col-md-8">
        <p class="fs-5 fw-bold text-cardinal">Project lead(s): {{ page.lead }}</p>
        <p class="fs-5 fw-bold text-cardinal">Collaborators: {{ page.collaborators }}</p>
        <p>{{ page.description }}</p>
        
        {% if page.blog_link %}
        <p><a href="{{ page.blog_link }}" target="_blank" rel="noopener">Project Blog</a></p>
        {% endif %}
    </div>
    <div class="col-md-4">
        {% include figure.html img=image alt=alt %}
    </div>
</div>

{{ content }}
