---
layout: page
---

<ul class="post-list">
  {% assign tag = page.tag %}
  {% for post in site.tags[tag] %}
    <li>
      <h2>
        <a class="post-link" href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </h2>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
      {%- if site.show_excerpts -%}
        <p>{{ post.excerpt }}</p>
      {%- endif -%}
    </li>
  {% endfor %}
</ul>

<a href="{{ '/news.html' | relative_url }}">Back to News</a>